.filtered-dishes-container{
  overflow: hidden;

  .filtered-dishes {
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 30px auto 0px auto;
      li {
        background-color: #E99F1D;
        font-weight: 500;
        color: white;
        margin-right: 20px;
        padding: 12px 30px;
        border-radius: 30px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all ease 0.3s;
        &.active {
          background-color: black;
        }
        &:hover{
          background-color: black;
        }
      }
    }
  }
  .filtered-dishes-result{
    overflow: hidden;
    ul{
      display: flex;
      width: 100%;
      justify-content: center;
      li{
        width: 22%;
        margin: 4rem auto 0rem auto;
      }
    }
  }
}
.alert{
  border: 2px solid red;
  width: 100%;
  border-radius: 10px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  h2{
    text-transform: capitalize;
    color: red;
  }
  h4{
    color: grey;
    text-transform: capitalize;
  }

}