.hero {
  position: relative;
  &-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
    object-fit: cover;
    overflow: hidden;
  }
  &-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: whitesmoke;
    max-width: 600px;
    h1{
      font-size: 53px;
      max-width: 500px;
      color:rgb(231, 231, 231);
    }
    p {
      max-width: 580px;
      color:rgb(201, 198, 198);
    }
    button {
      width: auto;
      display: block;
      margin-top: 1.5rem;
      padding: 14px 30px;
      border: none;
      outline: none;
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
      transition: all ease 1s;
      border-radius: 30px;
      background-color: orangered;
      &:hover {
        color: orangered;
        background-color: white;
      }
    }
  }
}
.loading-spinner {
  position: relative;
  margin: 0 auto;
  width: 75px;
  height: 300px;
}
.loading-spinner:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.loading-spinner__circle-svg {
  animation: loading-spinner-rotate 1.28973s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loading-spinner__circle-stroke {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loading-spinner-dash 2s ease-in-out infinite, loading-spinner-color 8s ease-in-out infinite;
  stroke-linecap: round;
  stroke-width: 4px;
}
@keyframes loading-spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes loading-spinner-color {
  100%,
  0% {
    stroke: #7d0fe6;
  }
  40% {
    stroke: #28dcd7;
  }
  66% {
    stroke: #ff6100;
  }
  80%,
  90% {
    stroke: #7d0fe6;
  }
}